<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.anod.car.home"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="internalOnly">
    <uses-sdk android:minSdkVersion="8" />
    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:normalScreens="true" android:anyDensity="true"></supports-screens>
    <com.anod.car.home.CarWidgetApplication android:icon="@drawable/icon" android:label="@string/app_name_free">
		<activity android:theme="@android:style/Theme.Dialog" android:name=".prefs.ShortcutEditActivity" />
	</com.anod.car.home.CarWidgetApplication>
</manifest>