<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anod.car.home.pro"
    android:installLocation="internalOnly"
    android:versionCode="21"
    android:versionName="1.491" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <permission
        android:name="com.anod.car.home.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.anod.car.home.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.intent.action.CALL_PRIVILEGED" />    
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="com.anod.car.home.permission.READ_SETTINGS" />
    <uses-permission android:name="com.anod.car.home.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.anod.car.home.CarWidgetApplication"
        android:backupAgent="com.anod.car.home.prefs.backup.BackupFileHelperAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_pro" >
        <service android:name="com.anod.car.home.UpdateService" />
        <service android:name="com.anod.car.home.incar.ModeService" />
        <service android:name="com.anod.car.home.incar.BroadcastService" />

        <activity
            android:name="com.anod.car.home.incar.SwitchInCarActivity"
            android:clearTaskOnLaunch="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/switch_in_car_activity"
            android:noHistory="true"
            android:theme="@style/BrightnessTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anod.car.home.prefs.ShortcutEditActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.anod.car.home.prefs.AllAppsActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.anod.car.home.prefs.AppListConfiguration"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.anod.car.home.prefs.Configuration"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anod.car.home.prefs.ConfigurationLook"
            android:configChanges="orientation" />
        <activity
            android:name="com.anod.car.home.prefs.ConfigurationInCar"
            android:configChanges="orientation" />
        <activity
            android:name="com.anod.car.home.prefs.ConfigurationBackup"
            android:configChanges="orientation" />
        <activity
            android:name="com.anod.car.home.prefs.ConfigurationRestore"
            android:configChanges="orientation" />
        <activity
            android:name="com.anod.car.home.incar.ChangeBrightnessActivity"
            android:theme="@style/BrightnessTheme" />
        <activity
            android:name="com.anod.car.home.ShortcutActivity"
            android:theme="@style/BrightnessTheme" />

        <receiver
            android:name="com.anod.car.home.LargeProvider"
            android:label="@string/app_name_pro" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/carhome_appwidget_info_4x4" />
        </receiver>
        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="com.anod.car.home.model.LauncherProvider"
            android:authorities="com.anod.car.home.settings.pro"
            android:readPermission="com.anod.car.home.permission.READ_SETTINGS"
            android:writePermission="com.anod.car.home.permission.WRITE_SETTINGS" />

        <activity
            android:name="com.anod.car.home.CarHomeActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name_pro"
            android:launchMode="singleTask"
            android:theme="@style/BrightnessTheme" >
            <meta-data
                android:name="android.dock_home"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CAR_DOCK" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIwrTs2H7J2Rs0kglDTHtziqQ8_7YbAZGeS7bDUA" />
    </application>

</manifest>