<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anod.car.home"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MEDIA_BUTTON" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CALL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />

    <application
        android:name="com.anod.car.home.CarWidgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="info.anodsplace.framework.app.FragmentContainerActivity"
            android:theme="@style/AppTheme"
        />

        <activity
            android:name="com.anod.car.home.ShortcutActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.anod.car.home.shortcut"
            android:theme="@style/BrightnessTheme" />

        <activity
            android:name="com.anod.car.home.prefs.LookAndFeelActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:taskAffinity="com.anod.car.home.settings"
            android:theme="@style/AppTheme.Transparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.anod.car.home.CarHomeActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.anod.car.home.carhome"
            android:theme="@style/BrightnessTheme"
            android:exported="true">
            <meta-data
                android:name="android.dock_home"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CAR_DOCK" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.anod.car.home.incar.ChangeBrightnessActivity"
            android:theme="@style/BrightnessTheme" />

        <activity
            android:name="com.anod.car.home.incar.SwitchInCarActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/switch_in_car_activity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.anod.car.home.switchincar"
            android:theme="@style/BrightnessTheme" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.anod.car.home.main"
            android:exported="true"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".main.WizardActivity" />

        <activity
            android:name="com.anod.car.home.prefs.CarWidgetShortcutsPicker"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/car_widget_shortcuts"
            android:exported="true"
            android:theme="@style/AppListTheme">
            <!--  This intent-filter allows your shortcuts to be created in the launcher. -->
            <intent-filter>
                <!--
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                //-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".prefs.lookandfeel.WidgetButtonChoiceActivity"
            android:excludeFromRecents="true"
            android:label="@string/choose"
            android:theme="@style/AppListTheme" />

        <service android:name="com.anod.car.home.incar.ModeService" />
        <service android:name="com.anod.car.home.incar.BroadcastService" />

        <receiver
            android:name="com.anod.car.home.incar.ModeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />

                <action android:name="com.anod.car.home.incar.ACTION_ACTIVITY_RECOGNITION" />

                <action android:name="android.intent.action.ACTION_DOCK_EVENT" />
                <action android:name="android.app.action.ENTER_CAR_MODE" />
                <action android:name="android.app.action.EXIT_CAR_MODE" />
            </intent-filter>
        </receiver>

        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="com.anod.car.home.model.LauncherProvider"
            android:authorities="${applicationId}.shortcutsprovider"
            android:exported="false" />

        <receiver
            android:exported="true"
            android:name="com.anod.car.home.LargeProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/carhome_appwidget_info_4x4" />
        </receiver>

        <receiver
            android:exported="true"
            android:name="com.anod.car.home.appwidget.ShortcutProvider"
            android:label="@string/in_car_mode_switch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/carhome_appwidget_info_1x1" />
        </receiver>

        <service
            android:name=".UpdateWidgetJob"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".BootCompleted"
            android:exported="true"
            android:directBootAware="true" >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIwrTs2H7J2Rs0kglDTHtziqQ8_7YbAZGeS7bDUA" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".incar.AcceptCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/BrightnessTheme" />

        <activity android:name=".main.RequestPermissionsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/backup_paths" />
        </provider>

        <service
            android:name=".incar.NotificationReceiverService"
            android:enabled="@bool/notification_receiver_enabled"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>