<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
          Debug-only: re-export SwitchInCarActivity so it can be launched from
          scripts/switch_incar.sh via `adb shell am start`. Release builds keep
          exported="false" (see main AndroidManifest.xml).
        -->
        <activity
            android:name="com.anod.car.home.incar.SwitchInCarActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
