<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anod.car.home.free" xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.anod.car.home.CarWidgetApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_free"
        android:theme="@style/AppTheme"
        android:allowBackup="false" >

		<activity
				android:name="com.anod.car.home.prefs.CarWidgetShortcutsPicker"
				android:theme="@style/AppListTheme"
				android:label="@string/car_widget_shortcuts"
				android:finishOnCloseSystemDialogs="true">
			<!--  This intent-filter allows your shortcuts to be created in the launcher. -->
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

    <!-- The settings provider contains Home's data, like the workspace favorites -->
    <provider
        android:name="com.anod.car.home.model.LauncherProvider"
        android:authorities="com.anod.car.home.settings"
        android:readPermission="com.anod.car.home.permission.READ_SETTINGS"
        android:writePermission="com.anod.car.home.permission.WRITE_SETTINGS" />

		<receiver
				android:name="com.anod.car.home.LargeProvider"
				android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
					android:name="android.appwidget.provider"
					android:resource="@xml/carhome_appwidget_info_4x4" />
		</receiver>
    </application>

</manifest>